<div ng-controller="homeController">
<input type="hidden" id="seri" value="{{id}}">
	<div class="app-header" style="margin-bottom: 15px;" ng-init="getDeviceInfo()" >

		<div id="header2_wrap">
			<div class="header-top header-top-toolbar">
				<div class="header-title header-title-avatar">
					<div class="header-avatar">
						<a class="btn btn-primary btn-circle" id="btn-vultr-back" href="/device/" aria-label="Go Back">
							<i class="zmdi zmdi-arrow-left"></i>
						</a>
					</div>
					<h1 class="h2">
						Quản lý thiết bị
					</h1>
					<ul class="header-title-info" style="">
						<li>Tên thiết bị:
							<b ng-bind="deviceInfo.name"></b>
						</li>
						<li>Seri:
							<b ng-bind="deviceInfo.seri"></b>

						</li>
						{{!--
						<li>Created:
							<b>
								<div style="display: inline-block; cursor:pointer;" data-popup2="YSBtb250aCBhZ28gKFVUQyk=" data-original-title="" title="">2018-04-03 13:35:45</div>
							</b>
						</li> --}}
					</ul>
					<div class="header-toolbar">
						<form method="POST" id="delete">
							<input type="hidden" name="csrf_token" value="S+uZathHKYPc5NtjwJnijwLnMUVl+4+uqQbDFZK0rAg=">

						</form>
						<span class="btn btn-link btn-icon">
							<span class="fonticondelete" data-popup2="UmVtb3ZlIERvbWFpbg==" aria-label="Remove Domain" id="has-dropdown" dropdown-disclaimer="Are you sure you want to delete this domain and it's associated records?"
							 dropdown-action="remove-domain-header" dropdown-info="MnR1YmVub3cuY29t" dropdown-function="$('#delete').submit();"
							 onclick="showConfirmationDropdown($(this));" data-original-title="" title=""></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="block1290 block1290deploy">
			<div class="tabs-responsive">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li id="tabheader_records" class="active">
							<a href="#dns-records" onclick="customSubTab('records'); hidePostMessages();">Điều khiển</a>
						</li>
						<li id="tabheader_settings">
							<a href="#dns-settings" onclick="customSubTab('settings'); hidePostMessages();">Cài đặt</a>
						</li>
					</ul>
					<button class="button-tab btn btn-prev" type="button" data-click="prev-tab">
						<span class="fonticon fonticon_chevron_left"></span>
					</button>
					<button class="button-tab btn btn-next" type="button" data-click="next-tab">
						<span class="fonticon fonticon_chevron_right"></span>
					</button>
				</div>
			</div>
			<a class="deploy_floating" href="/device/add" title="" aria-label="Deploy New Server" data-popup2="RGVwbG95IE5ldyBTZXJ2ZXI="
			 style="position: absolute;" data-original-title="Add new device">
				<span class="fonticon_plus"></span>
			</a>
		</div>

		<div id="header4_0">
		</div>

	</div>
	<div class="block1290">
		<div class="block520center" >
			<div class=" " id="tabc_subssettings">
				<div id="tab_records" class="block460center">
					<div style="padding: 0px 6px;">
						<h3>Trạng thái</h3>
						<div class="dynamic_error"></div>
						<div id="sticky-anchor"></div>

						<div id="table_records" class="">
							<div class="block520center">
								<div class="flexwidth2thirds">

									<div style="float: left;">

										<input type="checkbox" ng-click="updateStatic()" name="dnssec_toggle" id="dnssec_toggle" class="checkboxtoggleenabledisable"
										 ng-model="isChecked">
										<label for="dnssec_toggle" style="margin: 0px 0px;">
										</label>
									</div>
									<div style="clear: both;"></div>
								</div>

							</div>
						</div>



						<hr class="hr50">

					</div>
				</div>



				<div class="block520center submenutabcontent" style="display:none;" id="tab_settings">

					<label class="floatinglabel flexwidth100">
						<span style="display: none;">Tên thiết bị</span>
						<input type="text" name="domain" ng-model="deviceInfo.name" placeholder="Tên thiết bị">

					</label>

					<form method="post" class="flexlayoutform">

						<div class="flexwidth2thirds">
							Bật/tắt theo thời gian lặp lại

						</div>

						<input type="checkbox" name="email_maint_notify" value="yes" id="email_maint_notify" class="checkboxtoggleonoff" ng-model="showEditRepeat" >
						<label for="email_maint_notify">
						</label>
							<hr class="hr10">
						<div ng-show="showEditRepeat" class="flexwidth100 alert alert-info alert-sm" id="bw_stop_threshold" style="display: flex;">
							<div class="alert-body">
								<div style="width:100%;display:block;">
									<span style="vertical-align:middle; padding-right:2px;">Thiết lập thời gian bật tắt</span>
									<input type="text" name="bw_stop_threshold" ng-model="deviceInfo.repeatTime" style="width: 60px; height: 30px; background-color: white;">
									<span style="vertical-align:middle; padding-right:2px;"> phút</span>

								</div>
							</div>
						</div>
					</form>

					<hr class="hr30">

					<form method="post" class="flexlayoutform" onsubmit="xhrSetNotifications(this, '/_ajax/SetNotifications.php'); return false;">

						<div class="flexwidth2thirds">
							<span style="vertical-align:middle; padding-right:2px;">Bật/ tắt theo một thời gian cụ thể</span>
							<span class="fonticonhelp" data-popup2="Tm90aWZpZWQgd2hlbiBhbnkgVk0gZXhjZWVkcyA3NSUsIDkwJSBhbmQgMTAwJSBvZiB0aGUgYmFuZHdpZHRoIGxpbWl0Lg=="
							 data-original-title="" title=""></span>

						</div>

						<input type="checkbox" name="send_bandwidth_alerts" value="yes" id="send_bandwidth_alerts" ng-model="showEditTime" class="flexwidth1third checkboxtoggleonoff"
						>
						<label for="send_bandwidth_alerts">
						</label>
						<hr class="hr10">
						<div ng-show="showEditTime" class="flexwidth100 alert alert-info alert-sm" id="bw_stop_threshold" style="display: flex;">
							<div class="alert-body">
								<div style="width:100%;display:block;">
									<span style="vertical-align:middle; padding-right:2px;">Đang thiết lập</span>
									<input type="text" name="bw_stop_threshold" ng-model="deviceInfo.setTime" style="width: 100px; height: 30px; background-color: white;">

								</div>
							</div>
						</div>
					</form>
						<input type="button" value="Thay đổi" class=" flexwidth100" ng-click="updateDevice()">



				</div>
			</div>
		</div>
	</div>


</div>
<script>
	function customSubTab(tab) {
		$('#tabheader_' + tab).addClass('active').siblings().removeClass('active');
		$('#tab_' + tab).css('display', '').siblings().hide();

		var hash = '#dns-' + tab;
		if (history.pushState) {
			history.pushState(null, null, hash);
		}
		else {
			location.hash = hash;
		}

	}
</script>
