<div class="app-header">
	<div class="container-fluid">
		<div class="header-top header-top-toolbar">
			<div class="header-title header-title-avatar">
				<div class="header-avatar">
					<a class="btn btn-primary btn-circle" id="btn-vultr-back" href="/device/" aria-label="Go back">
						<i class="zmdi zmdi-arrow-left"></i>
					</a>
				</div>
				<h1 class="h2" style="line-height: 51px;">
					Thêm mới thiết bị
				</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="padding: 0px; margin-top: 0px; margin-bottom: 0px;">
		<a class="deploy_floating" href="#" title="" aria-label="Deploy New Server" data-popup2="RGVwbG95IE5ldyBTZXJ2ZXI=" data-original-title="Deploy New Server">
			<span class="fonticon_plus"></span>
		</a>
	</div>
</div>
<div class="block1290" ng-controller="homeController">
	<div class="error_message" ng-show="error" ng-bind="error">


			</div>
	<div class="block520center">
		<form method="post">
			<input type="hidden" name="csrf_token" value="3QqTYRSZgG3ekftgayzsfyH7vvm6E3NUuHYfl0qdzoc=">
			<input type="hidden" name="action" value="adddomain">
			<label class="floatinglabel flexwidth100">
				<span style="display: none;">Seri number</span>
				<input type="text" name="serverip" value="" ng-blur="checkSeriNumber()" ng-model="seriNumber" placeholder="Seri number">
				<span class="inputformiconoverlay" ng-click="checkSeriNumber()">

					<span class="fonticon-eye" data-original-title="Kiểm tra hợp lệ" title=""></span>
				</span>
			</label>
			<label class="floatinglabel flexwidth100" ng-hide="model.channelInput>1|| model.channelInput==undefined">
				<span style="display: none;">Tên thiết bị</span>
				<input type="text" name="domain" ng-model="device.name" value="" placeholder="Tên thiết bị">

			</label>

			<hr class="hr10">
			<div ng-show="model.channelInput>1">

				<h3>
					Thiết bị của bạn có nhiều kênh, vui lòng thiết lập tên từng kênh
				</h3>



				<label class="floatinglabel flexwidth100" ng-repeat="item in  devices">
					<span style="display: none;">{[{item.name}]}</span>
					<input type="text" name="domain" ng-model="item.name" value="" placeholder="{[{item.name}]}">

				</label>

			</div>
			<input type="button" value="Thêm" class="flexwidth100" ng-click="addDevice()">
		</form>
	</div>

</div>
