<div id="header2_wrap">
    <div id="header2_left">
        <h1>
            Danh sách thiết bị
        </h1>
    </div>
    
</div>

<div class="block1290" ng-Controller="homeController">

    <a class="button" href="/device/add/">Thêm thiết bị</a>
    <hr class="hr30">

    <div class="responsivetable responsivetable_snapshots" ng-init="getDevices()">
        <div>
            <span>
                Tên thiết bị
            </span>
            <span>
                Seri
            </span>

            <span>
            </span>
        </div>
        <div ng-show="devices.length<=0">
            <span>
                No Snapshots
            </span>
            <span>
            </span>
            <span>
            </span>

        </div>

        <div ng-repeat="item in devices">
            <a href="/device/action/{[{item._id}]}" ng-bind="item.name"></a>

            <a href="/device/action/{[{item._id}]}" ng-bind="item.seri"></a>


            <span class="responsivetable_actions">
                <span class="fonticondelete" aria-label="Delete device" no-mobile-data-popup="RGVsZXRlIERvbWFpbg==" dropdown-disclaimer="This will permanently delete the device and all associated records. Are you sure you want to do this?"
                    dropdown-info="{[{item.nameEncode}]}" dropdown-action="remove-domain" dropdown-domain-id="168706" ng-click="selectDevice(item)" dropdown-function="deleteDevice()"
                    onclick="showConfirmationDropdown($(this));" id="has-dropdown" data-original-title="" title=""></span>
            </span>

        </div>
    </div>


    <hr class="hr40">
    <h4 class="m-b-0">Using Snapshots</h4>
    <ul>
        <li>
            Stored snapshots are currently free - pricing subject to change.
        </li>
        <li>
            We recommend changing each machine to use DHCP for networking.
        </li>
        <li>
            Snapshots can only be restored to equal or bigger disks. If there is a single partition, it will be automatically expanded.
        </li>
    </ul>





    <div class="dropdown-confirmation dropdown-confirmation-blue">
        <div class="dropdown-body">
            <h5 class="dropdown-title text-info">
                <i class="zmdi zmdi-info-outline"></i>
                <span id="dropdown-label"></span>?
            </h5>
            <div class="server-info"> abc</div>
            <p>
                <span id="dropdown-disclaimer"></span>
            </p>
        </div>
        <div class="dropdown-actions">
            <a class="btn btn-xs btn-primary btn-block btn-confirmation btn-confirmation-blue" ng-click="deleteDevice()"></a>
            <button class="btn btn-xs btn-default btn-outline btn-block" data-dismiss="drop" onclick="hideDropdowns();">Cancel</button>
        </div>
    </div>

    <div class="dropdown-confirmation dropdown-confirmation-red">
        <div class="dropdown-body">
            <h5 class="dropdown-title text-danger">
                <i class="zmdi zmdi-alert-circle-o"></i>
                <span id="dropdown-label"></span>
                <span id="question-mark">?</span>
            </h5>
            <div class="server-info">abc</div>
            <p>
                <span id="dropdown-disclaimer"></span>
            </p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="confirm" onchange="enableButton($(this));"> Yes,
                    <span id="action-label"></span> this
                    <span id="dropdown-object">server</span>.
                </label>
            </div>
        </div>
        <div class="dropdown-actions">
            <a class="btn btn-xs btn-dropdown-danger btn-block btn-confirmation btn-confirmation-red" disabled=""></a>
            <button class="btn btn-xs btn-default btn-outline btn-block" data-dismiss="drop" onclick="hideDropdowns();">Cancel</button>
        </div>
    </div>


</div>