<div id="header2_wrap">
    <div id="header2_left">
        <h1>
            Danh sách thiết bị
        </h1>
    </div>
    <div id="header2_right">
        <form method="post">
            <input type="hidden" name="csrf_token" value="p/LVSWH4jD3nzUOOhdHl/fpQylYCtu3WexYXGfoour4="> Sort by: &nbsp;
            <select name="sort" onchange="this.parentNode.submit();" style="width:200px;" data-xselect2="yes" data-minimum-results-for-search="-1"
                tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                <option value="label">Label</option>
                <option value="location" selected="selected">Location</option>
                <option value="tag">Tag</option>
                <option value="date_created_desc">Date Created</option>
            </select>

        </form>
    </div>
</div>

<div class="block1290" ng-Controller="homeController">

    <a class="button" href="/device/add/">Thêm thiết bị</a>
    <hr class="hr30">

    <div class="responsivetable responsivetable_snapshots" ng-init="getDevices()">
        <div>
            <span>
                Tên thiết bị
            </span>
            <span>
                Seri
            </span>

            <span>
            </span>
        </div>
        <div ng-show="devices.length<=0">
            <span>
                No Snapshots
            </span>
            <span>
            </span>
            <span>
            </span>

        </div>

        <div ng-repeat="item in devices">
            <a href="/device/action/{[{item._id}]}" ng-bind="item.name"></a>

            <a href="/device/action" ng-bind="item.seri"></a>


            <span>
            </span>

        </div>
    </div>
    <form method="POST" id="deletesnapshot">
        <input type="hidden" name="csrf_token" value="p/LVSWH4jD3nzUOOhdHl/fpQylYCtu3WexYXGfoour4=">
        <input type="hidden" name="action" value="deletesnapshot">
        <input type="hidden" name="SNAPSHOTID" value="">
    </form>

    <hr class="hr40">
    <h4 class="m-b-0">Using Snapshots</h4>
    <ul>
        <li>
            Stored snapshots are currently free - pricing subject to change.
        </li>
        <li>
            We recommend changing each machine to use DHCP for networking.
        </li>
        <li>
            Snapshots can only be restored to equal or bigger disks. If there is a single partition, it will be automatically expanded.
        </li>
    </ul>





    <div class="dropdown-confirmation dropdown-confirmation-blue">
        <div class="dropdown-body">
            <h5 class="dropdown-title text-info">
                <i class="zmdi zmdi-info-outline"></i>
                <span id="dropdown-label"></span>?
            </h5>
            <div class="server-info"></div>
            <p>
                <span id="dropdown-disclaimer"></span>
            </p>
        </div>
        <div class="dropdown-actions">
            <a class="btn btn-xs btn-primary btn-block btn-confirmation btn-confirmation-blue"></a>
            <button class="btn btn-xs btn-default btn-outline btn-block" data-dismiss="drop" onclick="hideDropdowns();">Cancel</button>
        </div>
    </div>

    <div class="dropdown-confirmation dropdown-confirmation-red">
        <div class="dropdown-body">
            <h5 class="dropdown-title text-danger">
                <i class="zmdi zmdi-alert-circle-o"></i>
                <span id="dropdown-label"></span>
                <span id="question-mark">?</span>
            </h5>
            <div class="server-info"></div>
            <p>
                <span id="dropdown-disclaimer"></span>
            </p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="confirm" onchange="enableButton($(this));"> Yes,
                    <span id="action-label"></span> this
                    <span id="dropdown-object">server</span>.
                </label>
            </div>
        </div>
        <div class="dropdown-actions">
            <a class="btn btn-xs btn-dropdown-danger btn-block btn-confirmation btn-confirmation-red" disabled=""></a>
            <button class="btn btn-xs btn-default btn-outline btn-block" data-dismiss="drop" onclick="hideDropdowns();">Cancel</button>
        </div>
    </div>


</div>