

      <a href="/">
        </a>
        <a href="/device" class="active">
            Thiết bị
        </a>
        <a href="/model/">
            Models
        </a>
        <a href="/support/">
            Hỗ trợ
        </a>
        <a aria-label="Affiliate" href="/affiliate/">
            A
            <span>f</span>filiate
        </a>
        <a href="/setting/">
            Tài khoản
        </a>
