<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/css.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/simple-line-icons.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
   <link rel="stylesheet" href="/stylesheets/bootstrap-switch.min.css" />
  <link rel="stylesheet" href="/stylesheets/components.min.css" />
  <link rel="stylesheet" href="/stylesheets/layout.min.css" />
  <link rel="stylesheet" href="/stylesheets/darkblue.min.css" />
 
   
</head>

<body ng-app="iotModule" class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
  <div class="page-wrapper">
   {{>header}}

    <div class="clearfix"> </div>

    <div class="page-container">
                 {{>menuleft}}
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                      {{{body}}}
                   
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
               
            </div>


           
  </div>






  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/bootstrap-switch.min.js"></script>
  <script src="/javascripts/app.min.js"></script>
  <script src="/javascripts/layout.min.js"></script>
  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/app/module.js"></script>
  <script src="/javascripts/app/testController.js"></script>

</body>

</html>