<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row" ng-controller="testController">
    <form>
        <div class="form-check form-check-inline" ng-click="updateStatic()">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" ng-model="lam1" value="1000">
            <label class="form-check-label" for="inlineCheckbox1">Đèn 1(Bật) </label>
        </div>
        <div class="form-check form-check-inline" ng-click="updateStatic()">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  ng-model="lam2"value="on2">
            <label class="form-check-label" for="inlineCheckbox1">Đèn 2(Bật) </label>
        </div>

    </form>
</div>